<div class="container">
    <button class="back-button" (click)="goBackToMenu()">
      <i class="fa fa-arrow-left"></i> Voltar
    </button>
  
    <h2>Compartilhe Sua História de Superação</h2>
    <form (ngSubmit)="submitPost()">
      <label for="title">Título</label>
      <input
        type="text"
        id="title"
        [(ngModel)]="newPost.title"
        name="title"
        placeholder="Digite o título da sua história"
        required
      />
      <label for="content">Sua História</label>
      <textarea
        id="content"
        [(ngModel)]="newPost.content"
        name="content"
        placeholder="Escreva aqui sua história de superação"
        required
      ></textarea>
      <button type="submit">Compartilhar História</button>
    </form>
  
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="confirmationMessage" class="confirmationMessage">
      {{ confirmationMessage }}
    </div>
  
    <h2>Histórias de Superação de Outros Usuários</h2>
    <div class="stories-grid">
      <div class="story" *ngFor="let post of posts">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <p>Likes: {{ post.likes }}</p>
        <div class="story-actions">
          <button (click)="likePost(post)">Curtir</button>
          <input
            type="text"
            [(ngModel)]="post.commentText"
            placeholder="Escreva seu comentário"
          />
          <button (click)="commentPost(post)">Comentar</button>
        </div>
  
        <div class="comments-section">
          <h4>Comentários:</h4>
          <ul>
            <li *ngFor="let comment of post.comments">{{ comment }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>